@import "src/assets/mixins";
@import "src/app/common-styles";

:host(app-custom-message-input){
  width: 100%;
}

.composer_rich_textarea {
  border: 0;
  outline: none;
  margin: 0;
  line-height: 20px;
  height: auto;
  min-height: 40px;
  max-height: 250px;
  box-sizing: border-box;
  font-family: 'Quicksand', "Noto Color Emoji" ,"Helvetica Neue", sans-serif;
  border-radius: 30px;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  word-break: break-word;

  @include sm {
    padding: 10px 5px;
  }

  @include md {
    padding: 12px 10px;
  }
}
