<div class="dialog-wrapper">
  <div class="dialog-content-wrapper">
    <h1 mat-dialog-title>Create new room</h1>

    <mat-slide-toggle (change)="switchPrivate()">
      {{!isPublic ? 'Private' : 'Public'}}
    </mat-slide-toggle>

    <form [formGroup]="newRoomForm" class="form">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>

      <div class="part-wrapper">
        <h2 mat-dialog-title>Participants</h2>
        <button type="button" mat-button (click)="addParticipant()">
          <i class="material-icons">add</i>
        </button>
      </div>

      <div formArrayName="participants" class="participants custom-scroll">
        <div *ngFor="let item of participants.controls; let pointIndex=index" [formGroupName]="pointIndex.toString()">
          <mat-form-field class="part-input">
            <input matInput [placeholder]="'Participant - ' + (pointIndex + 1)"
                   formControlName="name"
                   (focus)="selectedInput = pointIndex"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of searchedUsers"
                          [value]="user.name"
                          (click)="pushId(user._id)">
                <img [src]="user.avatar" alt="" height="23">
                <span>{{user.name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-icon *ngIf="userIds[pointIndex]" class="done">done</mat-icon>
          <button type="button" class="delete-btn" mat-button (click)="deleteParticipant(pointIndex)">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </form>

    <div mat-dialog-actions>
      <button mat-button class="close-btn" (click)="onCloseClick()" class="close-btn">
        <i class="material-icons">clear</i>
      </button>
      <button mat-button (click)="onCreate()"
              class="create-btn"
              [disabled]="!newRoomForm.valid
                    || newRoomForm.untouched
                    || !validateInputs()
                    || participants.length < 1">Create room
      </button>
    </div>
  </div>
</div>

