@import "../../../assets/mixins";


::ng-deep .mat-dialog-container {
    padding: 0;
}

::ng-deep .mat-option-text {
    img {
        position: relative;
        top: 5px;
        border-radius: 50px;
        margin-right: 10px;
    }
}

.dialog-wrapper {
    mat-slide-toggle {
        margin-bottom: 20px;
    }

    .dialog-content-wrapper {
        padding: 20px;
    }


    .avatar {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background: black;


    }

    .avatar {
        border-radius: 50px;
    }

    h1 {
        font-family: "Montserrat Alternates", sans-serif;
        text-align: center;
        font-size: 28px;
    }

    .part-wrapper {
        display: flex;
        align-items: flex-start;

        h2 {
            margin-right: 20px;
        }
    }

    .part-input {
        margin-right: 30px;
    }

    .done {
        position: relative;
        top: 10px;
        right: 10px;
    }

    .create-btn {
        font-size: 25px !important;
        font-weight: 300;
        padding: 5px 20px;
    }

    ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
        padding: 0 10px;
        min-width: 20px;
        min-height: 0;
        border-radius: 50px;
    }

    ::ng-deep .mat-form-field-infix {
        @include sm(){
            font-size: 14px;
            max-width: 125px;
            min-width: 125px;
          }
          @include md(){
            font-size: 20px;
            max-width: 250px;
            min-width: 250px;
          }
    }

    ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
        border-radius: 50px;
    }
}
