@import "src/assets/mixins";

.input {
  background: transparent;
  border: none;
  text-align: center;

  @include sm{
    font-size: 20px;
    max-width: 225px;
    min-width: 100px;
  }

  @include md{
    font-size: 28px;
    max-width: 200px;
    min-width: 200px;
  }

  overflow: auto;

  min-height: 35px;
  max-height: 80px;

  line-height: 35px;

  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  margin-right: 25px;
}

:host-context( body.dark ){
  .edit-mode{
    border-bottom: 2px solid #ff6162;
  }

  .input{
    color: white;
  }
}

:host-context( body.light ){
  .edit-mode{
    border-bottom: 2px solid #3071c2;
  }

  .input{
    color: black;
  }
}
