<div class="message-wrapper"
     snInViewport (inViewportChange)="viewportChange($event)"
     [ngClass]="{'own': message.creator?._id === me && !message.isSystemMessage,
                 'foreign': message.creator?.id !== me && !message.isSystemMessage,
                 'system': message.isSystemMessage}">

  <ng-container *ngIf="message.isSystemMessage; else notSystemMessage">
        <span class="sys-message">
<!--              (click)="message.room === '' ? messageRequest(true) : false"-->
            <i>{{message.content}}</i>
        </span>
  </ng-container>

  <ng-template #notSystemMessage>
    <div class="message-container">
      <div class="avatar" [ngClass]="{'online': message.creator?.isOnline && message.creator?._id !== me}">
        <img alt="none" [src]="message.creator?.avatar">
      </div>
      <div class="message-content">
        <span class="message-user">
            <ng-container *ngIf="message.creator === null; else userExist">
                <span class="online">Deleted</span>
            </ng-container>
            <ng-template #userExist>
                <span [ngClass]="{'premium': message.creator?.isPremium}">
                    {{message.creator?.name | premiumNickname: !!message.creator?.isPremium}}
                </span>
            </ng-template>
        </span>

        <div class="message-text"
             [ngClass]="{'own': message.creator?._id === me && !message.isSystemMessage}"
             [matBadge]="message.read.length"
             matBadgePosition="above after">
          <p>{{message.content}}</p>
          <button *ngIf="message.creator?._id === me"
                  [cdkMenuTriggerFor]="readers"
                  app-context-menu
                  [isMyMessage]="message.creator?._id | isCreatedByMe"
                  class="read"
                  mat-icon-button>
            <mat-icon>{{message.read.length > 0 ? 'done_all' : 'done'}}</mat-icon>
          </button>

        </div>
        <small class="message-date">
          <span>{{message.createdAt | date: 'HH:mm' : ''}}</span>
        </small>
      </div>
      <div class="avatar" *ngIf="message.creator?.id === me">
        <img [src]="message.creator?.avatar" alt="A">
      </div>
    </div>
  </ng-template>

  <ng-template #readers>
    <app-custom-context-menu cdkMenu [options]="menuItems | async"></app-custom-context-menu>
  </ng-template>
</div>
