<div class="message-wrapper"
     *ngIf="theme | async as theme"
     snInViewport (inViewportChange)="viewportChange($event)"
     [ngClass]="{'own': message.creator?._id === me && !message.isSystemMessage,
                 'foreign': message.creator?.id !== me && !message.isSystemMessage,
                 'system': message.isSystemMessage,
                 'dark': theme === 'dark', 'light': theme === 'light'}">

  <ng-container *ngIf="message.isSystemMessage; else notSystemMessage">
        <span class="sys-message">
<!--              (click)="message.room === '' ? messageRequest(true) : false"-->
            <i>{{message.content}}</i>
        </span>
  </ng-container>

  <ng-template #notSystemMessage>
    <div class="message-container">
      <div class="avatar" [ngClass]="{'online': message.creator?.isOnline && message.creator?._id !== me}">
        <!--        *ngIf="emoji.creator?._id !== me"-->
        <img alt="Here be dragons" [src]="message.creator?.avatar">
      </div>
      <div class="message-content">
        <span class="message-user">
            <ng-container *ngIf="message.creator === null; else userExist">
                <span class="online">Deleted</span>
            </ng-container>
            <ng-template #userExist>
              <!--<span class="online" *ngIf="users[message.creator._id].online && message.creator._id === me">Online</span>-->
                <span [ngClass]="{'premium': message.creator?.isPremium}">
                    {{message.creator?.name | premiumNickname: !!message.creator?.isPremium}}
                </span>
              <!--<span class="online" *ngIf="users[message.creator._id].online && message.creator._id !== me">Online</span>-->
              <!--              <span class="online" *ngIf="message.creator?.isOnline && message.creator?._id !== me">Online</span>-->
            </ng-template>
        </span>

        <div class="message-text"
             [ngClass]="{'own': message.creator?._id === me && !message.isSystemMessage}"
             [matBadge]="message.read.length"
             matBadgePosition="above after">
          <!--          (inViewportChange)="viewportChange($event)"-->
          <p>{{message.content}}</p>
          <button *ngIf="message.creator?._id === me"
                  [cdkMenuTriggerFor]="readers"
                  app-context-menu
                  [isMyMessage]="message.creator?._id | isCreatedByMe"
                  class="read"
                  mat-icon-button>
            <mat-icon>{{message.read.length > 0 ? 'done_all' : 'done'}}</mat-icon>
          </button>
        </div>
        <small class="message-date">
          <span>{{message.createdAt | date: 'HH:mm' : ''}}</span>
        </small>
      </div>
      <div class="avatar" *ngIf="message.creator?.id === me">
        <img [src]="message.creator?.avatar" alt="A">
      </div>
    </div>
  </ng-template>
</div>

<ng-template #readers>
  <app-custom-context-menu cdkMenu [options]="menuItems | async">
  </app-custom-context-menu>

<!--  <div class="context-menu" cdkMenu-->
<!--       *ngIf="currentRoom | async as room">-->
<!--    <ng-template *ngFor="let user of room.users">-->
<!--      <ng-template *ngFor="let read of message.read">-->
<!--        <div class="user" *ngIf="user._id === read">-->
<!--          <mat-icon class="option-icon">"Person"</mat-icon>{{user.name}}-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ng-template>-->
<!--  </div>-->

<!--  <div class="context-menu" *ngFor="let user of menuItems | async">-->
<!--    <mat-icon class="option-icon">"Person"</mat-icon>{{user.id}}&ndash;&gt;-->
<!--  </div>-->
</ng-template>
