$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

::ng-deep .e-contextmenu-wrapper ul {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14) !important;
}

.message-wrapper.own {
  align-items: flex-end;

  .message-container {
    flex-direction: row-reverse;
  }

  .online {
    padding-right: 5px;
  }

  .message-content {
    align-items: flex-end;
  }

  .avatar {
    margin-left: 15px;
  }

  .message-text {
    justify-content: flex-end;
  }
}

.foreign {
  align-items: flex-start;

  .online {
    padding-right: 5px;
  }

  .message-content {
    align-items: flex-start;
  }

  .avatar {
    margin-right: 15px;
  }

  .message-text {
    justify-content: flex-start;
  }
}

.system {
  align-items: center;
}

.message-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .message-container {
    display: flex;
    align-items: center;
  }

  .message-container.own {
    flex-direction: row-reverse;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;

    img {
      transition: 0.3s;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .sys-message {
    user-select: none;
    cursor: pointer;
    margin: 4px 10px 3px 10px;
    border-radius: 20px;
    height: auto !important;
    padding: 5px 15px 5px 10px;
    text-align: center;
    font-weight: 300;
  }

  .message-user {
    user-select: none;
    margin-top: 15px;
    font-family: 'Quicksand', "Noto Color Emoji", "Helvetica Neue", sans-serif;
    font-weight: 600;
    // margin-left: 20px;
    //margin-right: 20px;
  }

  .online {
    user-select: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
  }

  .premium {
    user-select: none;
  }

  .message-content {
    display: flex;
    flex-direction: column;
  }

  .message-text {
    display: flex;
    align-items: center;
    margin: 4px 0 3px 0;
    border-radius: 20px;

    p {
      margin: 0;
      padding: 5px 10px;
      //line-height: 30px;
      font-family: 'Open Sans', "Noto Color Emoji", "Helvetica Neue", sans-serif;
      font-weight: 400;
      letter-spacing: 0;
      word-break: break-word;
    }

    .mat-icon-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      align-self: flex-end;
      justify-self: center;

      mat-icon {
        transition: 0.3s;
        align-self: flex-end;
      }
    }

    &.own {
      background: rgba(75, 85, 114, 0.5);
      color: #ffffff;
    }
  }

  .message-date {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    user-select: none;
    margin-left: 5px;
    font-weight: 300;

    span {
      color: black;
      margin-right: 10px;
      font-size: 11px;
    }
  }
}

:host-context( body.light ) {
  .sys-message {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.19);
    color: black;
  }

  .avatar {
    &.online {
      border: 2px solid #3071c2;
      padding: 2px;

      filter: drop-shadow(0 0px 5px #000000);
    }
  }

  .message-user {
    transition: 0.3s;
    color: black;
  }

  .online {
    transition: 0.3s;
    color: #3071c2;
  }

  .premium {
    transition: 0.3s;
    color: #fda300;
    filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.5));
  }

  .message-text {
    transition: 0.3s;
    color: white;
    background-color: rgba(0, 0, 0, 0.36);

    mat-icon {
      transition: 0.3s;
      color: #e6e7f2;
    }
  }

  .message-date {
    transition: 0.3s;
    color: rgb(0, 0, 0);
  }
}

:host-context( body.dark ){
  .sys-message {
    transition: 0.3s;
    background-color: rgba(251, 255, 253, 0.12);
    color: white;
  }

  .avatar {
    &.online {
      border: 2px solid #ff6162;
      padding: 2px;

      filter: drop-shadow(0 0px 5px #000000);
    }
  }

  .message-user {
    transition: 0.3s;
    color: white;
  }

  .online {
    transition: 0.3s;
    color: #ff6162;
  }

  .premium {
    transition: 0.3s;
    color: gold;
    filter: drop-shadow(0 0px 5px #000000);
  }

  .message-text {
    transition: 0.3s;
    background-color: rgba(251, 255, 253, 0.65);

    mat-icon {
      transition: 0.3s;
      color: #ff6162;
    }
  }

  .message-date {
    span {
      transition: 0.3s;
      color: rgba(243, 246, 255, 0.92);
    }
  }
}
