<div class="dialog-wrapper" [formGroup]="dialogForm">
  <h1 mat-dialog-title>
    <mat-icon *ngIf="me === room.creator?._id"
              matRipple (click)="toggleEdit()">edit</mat-icon>
    <app-custom-room-config-input formControlName="title"
                                  [isContentEditable]="me === room.creator?._id && isEdit"
                                  [title]="room.title"></app-custom-room-config-input>
    <!--      <span contenteditable="true">{{room.title}}</span>-->
  </h1>

  <div class="dialog-content-wrapper">

    <mat-slide-toggle *ngIf="room.creator?._id === me"
                      [checked]="isRoomPublic"
                      (change)="switchPrivate()">
      {{isRoomPublic ? 'Public' : 'Private'}}
    </mat-slide-toggle>

    <mat-divider></mat-divider>
    <div class="part-wrapper">
      <h2 mat-dialog-title>Participants</h2>
    </div>

    <div class="custom-scroll">
      <div class="part-list" *ngFor="let user of participants">
        <div class="user-container">
          <div class="avatar">
            <img [src]="user.avatar" alt="">
          </div>
          <span>{{user.name}} <span *ngIf="room.creator?._id === user._id">🥇</span> </span>
        </div>
        <button type="button" *ngIf="room.creator?._id === me" mat-button (click)="deleteParticipant(user)">
          <i class="material-icons">
            delete
          </i>
        </button>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" class="close-btn">
        <i class="material-icons">clear</i>
      </button>
      <button *ngIf="room.creator?._id === me" mat-button
              [disabled]="!dialogForm.valid"
              (click)="onUpdate()"
              class="create-btn">Update
      </button>
      <button (click)="deleteConfirm()"
              *ngIf="room.creator?._id === me
              && room.title.toLowerCase() !== 'favorites'
              && room.title.toLowerCase() !== 'common'"
              mat-button
              class="create-btn">Delete
      </button>
    </div>
    <div class="deleting-area" *ngIf="delete">
      <mat-form-field>
        <input matInput type="text" [placeholder]="'Enter title of room to confirm'" #input>
      </mat-form-field>
      <button type="button"
              class="close-btn"
              mat-button [disabled]="input.value !== room.title"
              (click)="onDelete()">
        <i class="material-icons">
          check
        </i>
      </button>
    </div>

  </div>
</div>


