.mobile-present{
  @include sm(){
    display: block;
  }
  @include lg() {
    display: none;
  }
}

.mobile-absent{
  @include sm(){
    display: none;
  }
  @include lg(){
    display: block;
  }
}

.custom-scroll{
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
    transition: 0.3s;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(203, 203, 203, 0.5);
    transition: 0.3s;
    border-radius: 6px;

    &:hover {
      background-color: rgba(148, 148, 148, 0.25);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(148, 148, 148, 0.5);
    }
  }
}
