<div *ngIf="isShown | async" class="container">
  <ul>
    <li (click)="selectOption(option.id)"
        *ngFor="let option of options"
        class="option">
      <div style="display: flex; align-items: center;" *ngIf="option.id === 'user' else notUser">
        <img [src]="option.icon" alt="" class="avatar">
        <i>{{option.title}}</i>
      </div>
      <ng-template #notUser>
        <mat-icon class="option-icon">{{option.icon}}</mat-icon>
        {{option.id}}
      </ng-template>
    </li>
  </ul>
</div>
<!--</div>-->
