.container {
  display: block;
  z-index: 1000;
  min-width: 150px;
  background-color: #e6e7f2;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(112, 112, 112, 0.84);
  position: fixed;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .option {
    display: flex;
    align-items: center;
    //justify-content: center;

    padding: 5px 7px;
    cursor: pointer;
    font-family: 'Quicksand', "Noto Color Emoji", "Helvetica Neue", sans-serif;

    .option-icon {
      margin-right: 5px;
    }

    .avatar{
      border-radius: 50%;
      margin: 0 5px 0 0;
      height: 25px;
    }

    &:hover {
      background-color: rgba(138, 138, 138, 0.74);
    }
  }

  &:first-child{
    border-radius: 7px 7px 0 0;
  }
  &:last-child{
    border-radius: 0 0 7px 7px;
  }
}
