@import "../../../assets/mixins";
@import "src/app/common-syles";

.smiles-wrapper {
  user-select: none;
  display: flex;
  //background: rgb(51, 51, 70);
  background: transparent;
  flex-direction: column;

  @include sm() {
    .title {
      display: none;
    }

    .smiles-list {
      max-height: 40vh;
      overflow-y: auto;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
  }

  @include md() {
    .smiles-list {
      gap: 2px
    }
  }
  @include lg() {
    .smiles-list {
      gap: 0
    }
  }

  @include lg() {

    .title {
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat Alternates', sans-serif;
      align-items: center;
      width: 100%;
      color: white;
      height: 48px;
      min-height: 48px;
      background: rgba(0, 0, 0, 0.51);

      margin: 0;
      font-weight: 400;
      font-size: 30px;
    }

    .smiles-list {
      max-height: 85.9vh;
      overflow-y: auto;

      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      justify-content: space-between;
      align-content: space-between;

      overflow-y: auto;
    }
  }

  .smile-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.51);
    height: 55px;

    @include sm() {
      width: 20%;
      font-size: 20px;
      margin-inline: 3px;
    }
    @include md() {
      width: 15%;
      font-size: 20px;
      //margin-inline: 2px;
    }
    @include lg() {
      width: 22%;
      font-size: 25px;
      margin-inline: 3px;
    }
    border-radius: 50px;

    * {
      transition: 0.175s;
    }
  }
}

:host-context( body.light ) {
  transition: 0.3s;
  background-color: #e6e7f2 !important;;

  .title {
    transition: .3s;
    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    color: black;
  }

  .smiles-list {
    .smile-item {
      background: rgba(0, 0, 0, 0.37);
    }
  }
}

:host-context( body.dark ) {
  transition: 0.3s;
  background-color: #273038 !important;

  .title {
    transition: .3s;
    background: rgba(0, 0, 0, 0.51);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    color: white;
  }

  .smiles-list {
    .smile-item {
      background: rgba(0, 0, 0, 0.51);
    }
  }
}
