.smiles-wrapper {
  user-select: none;
  display: flex;
  //background: rgb(51, 51, 70);
  background: transparent;
  flex-direction: column;

  .title {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat Alternates', sans-serif;
    align-items: center;
    width: 100%;
    color: white;
    height: 48px;
    min-height: 48px;
    background: rgba(0, 0, 0, 0.51);

    margin: 0;
    font-weight: 400;
    font-size: 30px;
  }

  .smiles-list {
    max-height: 85.9vh;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 6px;
      transition: 0.3s;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(203, 203, 203, 0.5);
      transition: 0.3s;
      border-radius: 6px;

      &:hover {
        background-color: rgba(148, 148, 148, 0.25);
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 6px;
      transition: 0.3s;

      &:hover {
        background-color: rgba(148, 148, 148, 0.5);
      }
    }

    .smile-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      background: rgba(0, 0, 0, 0.51);
      width: 65px;
      height: 65px;
      border-radius: 50px;

      &:hover {
        .smile-img {
          transform: scale(2);
        }
      }

      *{
        transition: 0.175s;
      }
    }
  }
}

:host-context( body.light ) {
  transition: 0.3s;
  background-color: #e6e7f2;

  .title {
    transition: .3s;
    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    color: black;
  }

  .smiles-list {
    .smile-item {
      background: rgba(0, 0, 0, 0.37);
    }
  }
}

:host-context( body.dark ) {
  transition: 0.3s;
  background-color: #273038;

  .title {
    transition: .3s;
    background: rgba(0, 0, 0, 0.51);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    color: white;
  }

  .smiles-list {
    .smile-item {
      background: rgba(0, 0, 0, 0.51);
    }
  }
}

