<ng-container *ngIf="room$ | async as room">
  <div class="room-wrapper">
    <div class="chat-menu">
      <div class="room-info">
        <button mat-button (click)="toggleMatDrawer()">
          <mat-icon [matBadgeHidden]="(overallUnread | async) === 0"
                    [matBadge]="overallUnread | async"
                    matBadgePosition="above after">
            vertical_split
          </mat-icon>
        </button>
        <div class="room-title">
          <mat-icon class="mobile-absent"
                    [matBadge]="currentRoomUnreadCount"
                    matBadgePosition="above after"
                    [matBadgeHidden]="currentRoomUnreadCount === 0">meeting_room
          </mat-icon>
          <div class="room-title-text">
            <span class="room-name">{{room | isPersonalMessagePipe }}</span>
            <small *ngIf="!room.isFavorites">{{room.users.length}} participants</small>
          </div>
          <button mat-button (click)="openSettings(room)">
            <mat-icon>people_alt</mat-icon>
          </button>
          <button mat-button (click)="openInviteParticipantsDialog(room)">
            <!--     (click)="inviteUsers()"     -->
            <mat-icon>person_add</mat-icon>
          </button>
        </div>
      </div>

      <mat-list *ngIf="checkIsCommon(room)" class="menu-items">

        <mat-divider vertical></mat-divider>

        <mat-list-item matRipple (click)="exitRoom(room)">
          <mat-icon>exit_to_app</mat-icon>
        </mat-list-item>

        <mat-divider vertical *ngIf="room.creator?._id | isCreatedByMe"></mat-divider>
      </mat-list>
    </div>

    <div id="contextmenu-control"
         class="custom-scroll"
         app-scroll-track
         (loadMessages)="onScroll(room._id)">
      <div id="messagecontextmenutarget">
        <!--        <mat-list class="mt-lst " #messagesList>-->
        <!--          <ng-container *ngIf="messages$ | async as messages">-->
        <!--            <mat-list-item *ngFor="let message of messages" [ngClass]="{-->
        <!--                        'own': (message.creator?._id | isCreatedByMe) && !message.isSystemMessage,-->
        <!--                        'foreign' : (message.creator?._id | isCreatedByMe) && !message.isSystemMessage,-->
        <!--                        'system' : message.isSystemMessage}">-->
        <!--              <div class="message-item">-->
        <!--                <app-message-item [message]="message"-->
        <!--                                  app-context-menu-->
        <!--                                  [isMyMessage]="message.creator?._id | isCreatedByMe"-->
        <!--                                  [cdkContextMenuTriggerFor]="context_menu"-->
        <!--                                  (contextmenu)="onMessageRightClick(message)"-->
        <!--                                  (viewChange)="onViewportChange($event, room, messages)">-->
        <!--                </app-message-item>-->
        <!--              </div>-->
        <!--            </mat-list-item>-->

        <!--            <ng-template #context_menu>-->
        <!--              <app-custom-context-menu cdkMenu-->
        <!--                                       [options]="menuItems"-->
        <!--                                       (optionSelect)="onOptionSelect($event)">-->
        <!--              </app-custom-context-menu>-->
        <!--            </ng-template>-->
        <!--          </ng-container>-->

        <!--        </mat-list>-->
        <div class="mt-lst" #messagesList>
          <ng-container *ngIf="messages$ | async as messages">
            <div *ngFor="let message of messages"
                 [ngClass]="{'own': (message.creator?._id | isCreatedByMe) && !message.isSystemMessage,
                             'foreign' : !(message.creator?._id | isCreatedByMe) && !message.isSystemMessage,
                             'system' : message.isSystemMessage}"
                 class="mat-list-item-content">
              <app-message-item [message]="message"
                                app-context-menu
                                [isMyMessage]="message.creator?._id | isCreatedByMe"
                                [cdkContextMenuTriggerFor]="context_menu"
                                (contextmenu)="onMessageRightClick(message)"
                                (viewChange)="onViewportChange($event, room, messages)">
              </app-message-item>
            </div>

            <ng-template #context_menu>
              <app-custom-context-menu cdkMenu
                                       [options]="menuItems"
                                       (optionSelect)="onOptionSelect($event)">
              </app-custom-context-menu>
            </ng-template>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="input-area" [formGroup]="messageForm">
<!--            <button class="input-send" (click)="toggleEmojis()" mat-fab color="primary">-->
<!--              <mat-icon>face</mat-icon>-->
<!--            </button>-->

      <div class="input-message" (keydown.enter)="sendMessage($event, room)">
        <button class="input-send" (click)="toggleEmojis()" mat-fab color="primary">
          <mat-icon>face</mat-icon>
        </button>

        <app-custom-message-input formControlName="message"
                                  dir="auto"></app-custom-message-input>

        <button class="input-send" (click)="sendMessage($event, room)" mat-fab color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </div>

<!--            <button class="input-send" (click)="sendMessage($event, room)" mat-fab color="primary">-->
<!--              <mat-icon>send</mat-icon>-->
<!--            </button>-->
    </div>

    <mat-accordion class="mobile-present">
      <mat-expansion-panel hideToggle [expanded]="emojiExpanded | async">
        <app-emojis></app-emojis>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</ng-container>
