<ng-container *ngIf="room$ | async as room">
  <div class="room-wrapper"
       *ngIf="theme | async as theme"
       [ngClass]="{'dark': theme === 'dark', 'light': theme === 'light'}">
    <div class="chat-menu">
      <div class="room-info">
        <button mat-button (click)="toggleMatDrawer()">
          <mat-icon>
            vertical_split
          </mat-icon>
        </button>
        <div class="room-title">
          <mat-icon [matBadge]="currentRoomUnreadCount"
                    matBadgePosition="above after"
                    [matBadgeHidden]="currentRoomUnreadCount === 0">meeting_room
          </mat-icon>
          <div class="room-title-text">
            {{me | isPersonalMessagePipe: room}}
            <small>{{room.users.length}} participants</small>
          </div>
          <button mat-button (click)="openSettings(room)">
            <mat-icon>people_alt</mat-icon>
          </button>
        </div>
      </div>

<!--      <app-contact-list [room]="room"></app-contact-list>-->

      <mat-list *ngIf="checkIsCommon(room)" class="menu-items">
        <mat-list-item matRipple (click)="openInviteParticipantsDialog(room)">
          <!--     (click)="inviteUsers()"     -->
          <mat-icon>person_add</mat-icon>
        </mat-list-item>
        <mat-divider vertical></mat-divider>

        <mat-list-item matRipple (click)="exitRoom(room)">
          <mat-icon>exit_to_app</mat-icon>
        </mat-list-item>

        <mat-divider vertical *ngIf="room.creator?._id | isCreatedByMe"></mat-divider>
      </mat-list>
    </div>

    <!--        <perfect-scrollbar [config]="config" (psScrollY)="onScroll($event)">-->
    <!--    <perfect-scrollbar #scrollbarComponent-->
    <!--                       [config]="perfectScrollBarConfig"-->
    <!--                       (psScrollY)="onScroll($event, room)">-->

    <div id="contextmenu-control"
         app-scroll-track
         (loadMessages)="onScroll(room._id)"
         [roomId]="room._id">
      <div id="messagecontextmenutarget">
        <mat-list class="mt-lst " *ngIf="messages$ | async as messages">
          <mat-list-item *ngFor="let message of messages" [ngClass]="{
                        'own': (message.creator?._id | isCreatedByMe) && !message.isSystemMessage,
                        'foreign' : (message.creator?._id | isCreatedByMe) && !message.isSystemMessage,
                        'system' : message.isSystemMessage}">
            <div class="message-item">
              <app-message-item [message]="message"
                                app-context-menu
                                [isMyMessage]="message.creator?._id | isCreatedByMe"
                                [cdkContextMenuTriggerFor]="context_menu"
                                (contextmenu)="onMessageRightClick(message)"
                                (viewChange)="onViewportChange($event, room, messages)">
              </app-message-item>
            </div>
          </mat-list-item>

          <ng-template #context_menu>
            <app-custom-context-menu cdkMenu
                                     [options]="menuItems"
                                     (optionSelect)="onOptionSelect($event)">
            </app-custom-context-menu>
          </ng-template>

        </mat-list>
      </div>
    </div>
    <!--    </perfect-scrollbar>-->

    <div class="input-area">
      <div class="input-message" dir="auto">
        <!--        (emoji$ | async)?.length / 64 ?? 1-->
        <textarea class="composer_rich_textarea"
                  [rows]="message | calculateRowsPipe"
                  [(ngModel)]="message"
                  (keydown.enter)="sendMessage($event, room)"></textarea>
        <!--        <div class="composer_rich_textarea"-->
        <!--                  contenteditable="true"-->
        <!--                  [textContent]="emoji"-->
        <!--                  (input)="onInput($event)"-->
        <!--                  (keydown.enter)="sendMessage($event, room)"></div>-->
      </div>

      <button class="input-send" (click)="sendMessage($event, room)" mat-fab color="primary"
              aria-label="Example icon button with a delete icon">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>

</ng-container>
