@import "../../assets/mixins.scss";
@import "src/app/common-syles";

//.mobile-absent{
//  @include sm(){
//    display: none;
//  }
//  @include lg(){
//    display: block;
//  }
//}

.main-wrapper {
  @include sm(){
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
  }
}

.body-wrapper {
  display: flex;
  flex-direction: column;
}
