<div class="room-list-wrapper">
  <div class="list-title">
    <p>Main menu</p>
    <button (click)="closeList()" mat-button matRipple>
      <mat-icon [matBadgeHidden]="(overallUnread | async) === 0"
                [matBadge]="overallUnread | async"
                matBadgePosition="above after">arrow_back_ios</mat-icon>
    </button>
  </div>

  <app-header class="mobile-present"></app-header>

  <div class="search-rooms">
    <app-theming></app-theming>
    <div class="add-btn" (click)="createRoom()" matRipple>
      <mat-icon>add</mat-icon>
      <span>Create new room</span>
    </div>

    <input matInput
           placeholder="Search room..."
           [(ngModel)]="searchText">
    <mat-slide-toggle class="searchToggle"
                      (change)="toggleSearch()">
      {{(searchCondition | lowercase) === 'public' ? 'Public' : 'Private'}}
    </mat-slide-toggle>
  </div>
  <div class="room-list">
    <mat-list *ngIf="currentRoomId$ | async as currentRoomId">
      <mat-list-item class="room-list-item"
                     *ngFor="let room of (rooms$ | async) | updateRooms
                                                 | search: searchText
                                                 | filterListBy: 'isPublic' : searchCondition === 'public'? 'true' : 'false'"
                     (click)="navigateRoom(currentRoomId, room._id)">
        <mat-divider></mat-divider>
        <div class="room-title-wrapper">
          <span class="room-title" [ngClass]="{'selected' : currentRoomId === room._id}">{{room.title}} </span>
          <small *ngIf="room._id !== 'common'">Last action: {{room.lastAction | date: 'HH:mm:ss - dd.MM.yy'}}</small>
        </div>
        <div class="unread" *ngIf="room.unread > 0"><span>{{room.unread > 99? "99+" : room.unread}}</span></div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

